<div>
    <%= form_tag(order_sheet_search_order_sheet_path, method:'post') do%>
      <%= label_tag :serchKeyWrod ,:搜尋訂單 %>
      <%= text_field_tag :serchKeyWrod %>
      <%= submit_tag "搜尋"%>
    <%end%>
</div>
<%= will_paginate @order_sheet_number%>
<table>
  <tr>
    <td>產品編號</td>
    <td>記帳日期</td>
    <td>總金額</td>
    <td>付款方式</td>
    <td>付款金額</td>
    <td>售出商品數</td>
  </tr>
  <%@order_sheet_number.each do |order_sheet|%>
    <tr>
      <td><%=link_to order_sheet.no, order_sheet_show_order_sheet_path(:no => order_sheet.no) %></td>
      <td><%=@order_sheets_all.where(:no=>order_sheet.no)[0].created_at%></td>
      <%@total = 0%>
      <%@order_sheets.where(:no=>order_sheet.no).each do |total| %>
        <%@total += total.price %>
      <%end%>
      <td><%= @total%></td>
      <td><%=@order_sheets_all.where(:no=>order_sheet.no)[0].payment%></td>
      <td><%=@order_sheets_all.where(:no=>order_sheet.no)[0].payfee%></td>
      <td><%=@order_sheets_all.where(:no=>order_sheet.no).count %></td>
    </tr>
  <%end%>
</table>
<%= will_paginate @order_sheet_number%>